
<footer id="footer">

	<h4 class="finalidad">Sigueme en mis redes sociales: </h4>
	<section class="redes">
		<ul id="services">
			<li>
			<div>
				<a href="https://www.facebook.com/kevin.mauri.90" target="_blank">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</div>
			<span>Facebook</span>
			</li>

			<li>
			<div>
				<a href="https://twitter.com/KevinPallo17" target="_blank">
				<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			</div>
			<span>Twitter</span>
			</li>

			<li>
			<div>
				<a href="https://www.youtube.com/channel/UCyo6NppEJwbxLKw9_Xlv7EQ?view_as=subscriber" target="_blank">
				<i class="fa fa-youtube" aria-hidden="true"></i>
				</a>
			</div>
			<span>YouTube</span>
			</li>

			<li>
			<div>
				<a href="https://www.linkedin.com/in/kevin-akd-51b3831a6/" target="_blank"> 
				<i class="fa fa-linkedin" width="20px" aria-hidden="true"></i>
				</a>
			</div>
			<span>LinkedIn</span>
			</li>

			<li>
			<div>
				<a href="https://www.instagram.com/kevinakd1/?hl=es-la" target="_blank">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
			<span>Instagram</span>
			</li>

			<li>
			<div>
				<a href="https://github.com/KevinPallo" target="_blank">
				<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</div>
			<span>Github</span>
			</li>
		</ul> 
	</section>		
	<h6 class="develop">Develop by | Kevin Pallo</h6>
	<h6><a href="./Sources/CV-KevinPallo.pdf" target="_blank">Descargar CV-Kevin Pallo</a></h6>
	</footer>