<Section id="proyLab-field">
	<div class="row" id="contenedor">
		<div id="titulo-skill" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h1>Experiencia Profesional</h1>
		</div>

		<div id="proy" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="proy-row" class="row">
				<div id="img2" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="img">
						<a href="https://deuna.app/" target="_blank">
							<img src="./assets/img/deuna.png"  alt="">
						</a>
					</div>
				</div>
				<div id="proy-text" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h5 style="text-align: left; color: white;">Trainee - Especialista desarrollo TI</h5>
					<ul>
						<li>Encargado de la optimización de procesos del área operacional.</li>
						<li>Creador de proceso de alertas automaticas a áreas funcionales de procesos de ingenieria de datos utilizando Power Automate.</li>
						<li>Creador de aplicación para realizar reclamos en base de datos transaccionales utilizando Power Apps.</li>
						<li>Creador de proceso de ingesta de datos desde archivos xlsx a Datrabricks.</li>
						<li>Colaborador en proceso de control de datos de archivos depositados en un repositorio de la organización.</li>
						<li>Creador de aplicación para gestionar y organizar parqueaderos disponibles dentro del edificio de la organización utilizando Power Apps.</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="proy" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="proy-row" class="row">
				<div id="proy-text" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h5 style="text-align: left; color: white;">Pasante - Data Analyst</h5>
					<ul>
						<li>Creador de proceso de aprobación de pago de campañas comerciales utilizando Power Automate automatizando un 90% de tiempo de operaciones manuales.</li>
						<li>Creador de aplicación para solicitar y registrar vacaciones, días flexibles, día de cumpleaños, registros de ausen tismos utilizando power apps.</li> 
						<li>Creador de tableros para el seguimiento en periodos de tiempo de transacciones realizadas a través de una plataforma interna, facilitando la evaluación de su eficiencia y rendimiento operativo.</li>
						<li>Creador de tableros para el seguimiento de iniciativas de la organización.</li>
					</ul>
				</div>
				<div id="img2" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="img">
						<a href="https://deuna.app/" target="_blank">
							<img src="./assets/img/deuna.png"  alt="">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="proy" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="proy-row" class="row">
				<div id="img2" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="img">
						<a href="https://deuna.app/" target="_blank">
							<img src="./assets/img/bp.png"  alt="">
						</a>
					</div>
				</div>
				<div id="proy-text" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h5 style="text-align: left; color: white;">Pasante - Soporte de comercios</h5>
					<ul>
						<li>Creación de proceso de automatización para generar códigos QR masivos utilizando Node.Js y Power Automate,
							reduciendo un 70% de tiempo de operaciones manuales.</li>
						<li>Creación de Scripts para brindar soporte técnico a comercios afiliados a la App.</li>
						<li>Creación de códigos QR utilizando DBeaver y soporte técnico de comercios.</li>
					</ul>
				</div>
			</div>
		</div>

<!-- 
		<div id="interno-proyLab" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div  id="galeria-port" class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" id="hobbies-img">
					<img src="./assets/img/Proyectos/facturacion.jpg"  alt="">
					<div class="hover-hobbies">
						<a href="https://safa.com.ec/" target="_blank">
							<ul>
								<li>Pasante en desarrollo frontend utilizando Angular 13 y el framework de Angular "ngZorro".</li>
								<li>Ayudante de backend utilizando Java Spring Boot.</li>
							</ul>
						</a>
					</div>
				</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" id="hobbies-img" >
					<img src="https://is1-ssl.mzstatic.com/image/thumb/Purple123/v4/c9/a1/67/c9a167ad-b854-0ad5-c526-6ff38b07481a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x630wa.png"  alt="">
					<div class="hover-hobbies" >
						<a href="https://deuna.app/" target="_blank">
							<ul>
								<li>Encargado de la creación de códigos QR utilizando MySQL, dbeaver, JasperReport y GCP.</li>
								<li>Ayudante en la creación de dashboards utilizando PowerBI.</li>
								<li>Implementé exitosamente la automatización de una tarea manual que requería 2 horas de trabajo. Gracias al uso de Power Automate, logré reducir el tiempo ejecución, alcanzando una eficiencia del 95%. Ahora, dicha tarea se ejecuta en tan solo 5 minutos.</li>
							</ul>
						</a>
					</div>

				</div>
			</div>
		</div> -->
	</div>	


</Section>

<Section id="hobbies-field">
    <div id="titulo-skill" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Proyectos personales</h1>
    </div>
    <div class="row" id="contenedor">

        <!-- Inicio Proyectos estudiantes -->
        <div id="interno-hobbies" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  id="galeria-port" class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="hobbies-img" *ngFor="let proyecto of proyectosEs">
                    <img src="{{proyecto.imagen}}" alt="">
                    <div class="hover-hobbies">
                        <a routerLink="listado/{{proyecto.enlace}}">{{proyecto.name}}</a>
                    </div>
                </div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="hobbies-img">
                    <img src="./assets/img/Proyectos/dibujos.jpg" alt="">
                    <div class="hover-hobbies">
                        <a routerLink="/dibujos">Dibujos</a>
                    </div>
                </div>
            </div>
        </div>	
        <!-- Fin Proyectos estudiantes -->
 

    </div>
</Section>

<router-outlet></router-outlet>

