<section class="about-me" id="about-me">
    <div class="row fila" >

        <div id="titulo-skill" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Acerca de mi</h1>
        </div>

        <div class="imagen col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <!-- <img src="./assets/img/Extras/kevin1.jpg" alt="Kevin Pallo"> -->
            <img src="./assets/img/fotoPerfil.jpg" alt="Kevin Pallo">
        </div>
        <div class="parrafo col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <p>
                ¡Hola! Soy Kevin Pallo, Ingeniero en Ciencias de la Computación graduado 
                de la Escuela Politécnica Nacional en Quito, Ecuador. Tengo 25 años y una 
                pasión profunda por la tecnología. Mi interés principal radica en el campo 
                de machine learning e inteligencia artificial, área en la que desarrollé mi 
                proyecto de titulación creando un modelo de visión computacional para la detección 
                de rosas y clasificarlos según su estadio fonológico.
                <br><br>
                Disfruto día a día lo que hago y siempre busco mejorar mis habilidades para 
                seguir aprendiendo y creciendo profesionalmente. Estoy comprometido en aprovechar 
                la tecnología para resolver problemas del mundo real y crear soluciones innovadoras. 
                <br><br>
                ¡Gracias por visitar mi portafolio y conocer más sobre mí!
                <br><br>
                En la siguiente sección encontrarás información sobre mis habilidades y proyectos desarrollados. Además, podrás 
                encontrar una sección en la cual muestro las actividades que realizo en mi tiempo libre.
            </p>
        </div>
        <div class="imagen col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</section>
 