.about-me{
	padding: 40px 20px;
	background-color: rgba(0, 0, 0, 1);
	background-size: cover;
}

#titulo-skill h1{
	text-align: center;
	color: rgb(15, 109, 251);
}

.fila .imagen img{
	padding: 10px;
	width: 90%;
	border-radius: 30px;
}

.fila .imagen {
    text-align: center;
}

.fila .parrafo{
	align-items: center;
	display: inline-flex;
	padding: 20px 40px;
	color: rgb(195, 195, 195);
}

.fila p{
	align-items: center;
	text-align: justify;
	font-size: 16px;
}

@media (max-width: 780px) {
	
	.about-me .parrafo{
		text-align: justify;
	    font-size: 10px !important;
	    padding: 30px 20px 10px 20px;
	}

	.about-me .parrafo p{
	    font-size: 12px !important;
		margin-bottom: 0px;
	}
	
	.about-me{
		padding: 40px 20px;
		background-size: cover;
	}

}
