<section class="about-me" id="about-me">
    <div class="row fila" >

        <div id="titulo-skill" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Acerca de mi</h1>
        </div>

        <div class="imagen col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <!-- <img src="./assets/img/Extras/kevin1.jpg" alt="Kevin Pallo"> -->
            <img src="./assets/img/fotoPerfil.jpg" alt="Kevin Pallo">
        </div>
        <div class="parrafo col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <p>
                Hola, mi nombre es Kevin Pallo, tengo 24 años, vivo en Quito-Ecuador.
                Estudio Ingeniería en Ciencias de la Computación en la Escuela Politécnica Nacional, estoy cursando
                octavo semestre de la carrera. Me considero una persona muy alegre, divertida, curiosa, me gusta 
                aprender cosas nuevas, me gusta trabajar en equipo, además considero que soy autodidacta, me gusta mucho 
                la tecnología es por esa razón que estudio la carrera de Computación. Mi conocimiento no está orientado a una especialidad
                en especifica, sin embargo, tengo conocimiento sobre redes, TI, IoT, IA, Machine Learning, Data mining, Cloud Computing (AWS), desarrollo móvil y web.
                He participado en varios proyectos sociales como Tutor de Inclusión digital a personal de la tercera edad 
                y robótica con legos. Participé como pasante en el desarrollo front-end de un sistema de facturación por 6 meses utilizando Angular 13 y SpringBoot. <br> Finalmente, soy una persona versátil, es decir, soy una persona capaz de adaptarse rápidamente a cualquier tipo de trabajo. 
                <br><br>
                En la siguiente sección encontrarás información sobre mis habilidades y proyectos desarrollados. Además, podrás 
                encontrar una sección en la cual muestro las actividades que realizo en mi tiempo libre.
            </p>
        </div>
        <div class="imagen col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
</section>
 