
.skills-field{
	padding: 30px 50px;
	width: 100%;
	text-align: center;
	background-image: url(https://fondosmil.com/fondo/52902.jpg);
	background-attachment: fixed;
	background-size: cover;
}


#titulo-skill{
	color: #fff;
	font-family: 'Balsamiq Sans', cursive;
	padding: 30px;
	text-align: center;
}

.titulo-skills{
	color: rgb(61, 61, 61);
	padding: 10px;
}


#contenedor-skill{
	background-color: rgba(247, 242, 242, 0.733);
	color: rgba(0, 0, 0, 0.582);
	justify-content: center;
	border-radius: 10px; 
	padding: 15px;
	margin-bottom: 20px;
}

#contenedor-skill #caja-skill #caja-content{
	min-height: 79% !important;
	max-height: 80% !important;	
	color: #313131;
	font-family: 'Nunito', sans-serif;
}

#contenedor-skill #caja-skill #caja-content h6{
	margin-bottom: 0px;
}

#contenedor-skill #caja-skill #caja-content img{
	max-height: 100px !important;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


@media (max-width: 780px) {


	.skills-field{
		padding: 15px;
	}

	#contenedor-skill  h2{
		font-size: 20px;
	}

	#contenedor-skill #caja-skill #caja-content h6{
		font-size: x-small;
	}

	.fila p{
		align-items: center;
		text-align: justify;
		font-size: 13px;
	}



	#contenedor-skill #caja-skill #caja-content img{
		width: 100%;
	}

}

@media (max-width: 570px) {

	#caja-skill{
		align-items: center;
		width: 33%;
	}

	#contenedor-skill #caja-skill #caja-content img{
		width: 100%;
		max-height: 58px !important;
	}
}