<div class="row fila">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="navTitle">
        <h1>Portafolio web</h1>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="navBar">
        <ul>
            <li><a href="#about-me">Acerca de mi</a></li>
            <li><a href="#proyLab-field">Experiencia profesional</a></li>
            <li><a href="#skills-field">Habilidades</a></li>
            <li><a href="#hobbies-field">Proyectos</a></li>
            <li><a href="#footer">Redes Sociales</a></li>
        </ul>				
    </div>
</div>
